.introduction {
  min-height: 100vh;
  @include flex(column, space-around, center);
  flex-direction: column;

  h2 {
    font-size: $big-font;
  }

  button {
    border: none;
    background: $primary;
    padding: 1rem 3rem;
    transition: all 1s ease;
    cursor: pointer;

    &:hover {
      background: rgb(46, 158, 196);
    }
  }

  .box {
    @include flex(row, center);
  }
}
